@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #445bc1;
}

#column-2 {
  background: #6987d5;
}

#column-3 {
  background: #97baec;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #30551E;
  }

  .col-3 {
  width: 33.3%;
  }

  #column-1 {
    background-color: #467B2B;
  }

  #column-2 {
    background-color: #5BA237;
  }

  #column-3 {
    background-color: #72C349;
  }

  footer {
    background-color: #8FD16E;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #7D44AA;
  }

  .col-3 {
  width: 33.3%;
  }
  #column-1 {
    background-color: #A971D6;
  }

  #column-2 {
    background-color: #DAABF7;
  }

  #column-3 {
    background-color: #E5BDFF;
  }

  footer {
    background-color: #D3A4F0;
  }
   
}
